* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.background {
  background-color: blue;
}

.artist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracks-details {
  display: hidden;
  width: 45vw;
}

.tracks-details-is-hidden {
  display: block;
  width: 45vw;
}

.album-details {
  width: 45vw;
}

.police {
  color: white;
}

.sectionTitle {
  text-align: center;
  margin: 5vh;
}

.albums {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.albumContainer {
  width: 150px;
  height: 180px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumTitle {
  width: 100%;
  height: 20%;
  font-size: 15px;
}

.albumBg {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s;
}

.albumBg:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 20px goldenrod;
  transform: scale(1.03);
  transition: transform 0.3s;
}
