* {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .police {
    color: white;
  }

  .artist-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tracks-details {
    display: hidden;
    width: 45vw;
  }

  .tracks-details-is-hidden {
    display: block;
    width: 45vw;
  }

  .album-details {
    width: 45vw;
  } 