* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.welcome-div {
    height: 100vh;
    width: 100vw;
    background-color: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('../../assets/slide_llm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-big {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 35.5vw;
    top: 18vh;
    padding: 15vh auto;
}

.home-button {
    position: relative;
    top: 85vh;
    padding: 1vw;
    margin: auto;
    margin-top: -5vh;
    border: solid 3px #ff751f;
    color: #ff751f;
    border-radius: 3vw;
    width: 10vw;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    transition: transform 0.3s;
    z-index: 99;
}

.home-button:hover {
    transform: scale(1.1);
    background-color: white;
    font-weight: bold;
}

.music-notes svg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}