* {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .cardsContainer img {
    text-align: center;
    display:block!important;
  }

  .inputSearch {
    position: relative;
    width: fit-content;
    margin: auto;
  }
  
  .inputSearch label {
    position:absolute;
    left: 5px;
    bottom: -3px;
  }

  @media screen and (max-width: 450px) {
    .cardsContainer {
      display: flex;
      flex-direction: column;
    }

   }