* {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .home-div {
    width: 100vw;
  }
  .cardsContainer {
    width: 100vw;
    min-height: 67.5vh;
    display: flex;
    flex-wrap: wrap;
  }

  .cardsContainer img {
    text-align: center;
    display:block!important;
  }

  .inputSearch {
    position: relative;
    margin: auto;
  }

  .searchInput {
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.1rem;
    box-shadow: 2px 2px 2px black;
  }
  
  .inputSearch label img {
    position:absolute;
    left: 5px;
    bottom: 12px;
  }

  @media screen and (max-width: 450px) {
    .cardsContainer {
      display: flex;
      flex-direction: column;
    }

    .searchInput {
      font-size: 0.8rem;
    }

   }