* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('./assets/slide_llm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}