* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('./assets/slide_llm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.vinylContainer {
  width:100vw;
  height:100vh; 
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./assets/slide_llm.jpg'); 
  margin-top:-20vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}